version: '3'

services:
  dev-db:
    image: mysql:latest
    container_name: dev-db
    restart: always
    healthcheck:
      test: ['CMD', 'mysql', '-u', 'root', '-p${MYSQL_ROOT_PASSWORD}', '-e', "SHOW DATABASES LIKE '${MYSQL_DATABASE}';"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    ports:
      - '${MYSQL_PORT}:3306'
    volumes:
      - dev-db-data:/var/lib/mysql
    networks:
      - dev-network

  db-setup:
    container_name: db-setup
    build:
      context: .
      dockerfile: dev-setup.Dockerfile
    restart: 'no'
    environment:
      - MYSQL_HOST=host.docker.internal
    depends_on:
      - dev-db
    volumes:
      - ./:/app
    networks:
      - dev-network

  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: westerloy.de
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    depends_on:
      - dev-db
      - db-setup
    networks:
      - dev-network
    command: sh -c "npm run build && npm run start"

volumes:
  dev-db-data:

networks:
  dev-network:
